:root {
    --foreground-color: #66ff66;
    --background-color: #2b2b2b;
    --accent-color: #ffff99;
    --focus-color: #ff0000;
}

html {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: 'Cascadia Code', sans-serif;
}

a:link {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--focus-color);
}

a:active {
    color: var(--focus-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.focused {
    color: var(--focus-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;
}

.section-container {
    border: 1px solid var(--foreground-color);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1%;
    margin-top: 0;
}

.section-container.half-width {
    flex-basis: 48%;
}

.section-container.full-width {
    flex-basis: 100%;
}

.section-title {
    padding-left: 5px;
    padding-right: 5px;
}

.carousel {
    position: relative;
}

.slide {
    padding: 15px;
}

.carousel-prev, .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px;
    background-color: rgb(102, 255, 102, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgb(102, 255, 102, 0.2);
    color: var(--foreground-color)
}

.carousel-prev {
    left: -12px;
    border-radius: 0 10px 0 0;
}

.carousel-next {
    right: -12px;
    border-radius: 10px 0 0 0;
}

.slide-counter {
    position: absolute;
    top: -10px;
    right: 20px;
}

.connect-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.connect-summary {
    text-align: center;
    align-self: center;
}

.connect-image {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    margin: 10px;
}

.connect-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.project-slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-image-container {
    flex: 1;
    padding: 10px;
}

.project-text-container {
    flex: 2;
    align-self: flex-start;
}

.project-image-container img {
    width: 100%;
    height: auto;
}

.skills-list {
    text-align: center;
}

.skill {
    display: inline-block;
}

.skill:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin: 1px;
}

#selected-skill-summary {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#outer-skill-meter-border {
    text-align: left;
    width: 100%;
    border: 1px solid var(--foreground-color);
    border-radius: 15px;

    overflow: hidden;
}

#selected-skill-meter {
    height: 20px;
    background-color: var(--foreground-color);
    border: 2px solid var(--background-color);
    border-radius: 15px;
}

.zoomable-img {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); 
    text-align: center;
}

.zoom-modal-content {
    width: 80%;
}

.zoom-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--foreground-color);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.zoom-modal-close:hover,
.zoom-modal-close:focus {
    color: var(--focus-color);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .section-container.half-width {
        flex-basis: 100%;
    }

    .project-slide-content {
        flex-direction: column-reverse;
    }
}